* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
  min-height: 100%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  background-image: url(./img/banner.jpg);
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-size: 2.5rem;
}

h1 {
  color: white;
  margin-left: 310px;
}

.resumo {
  padding: 40px 40px 20px 40px;
}

.resumo h3 {
  color: #007c8a;
  margin-bottom: 20px;
}

.resumo p {
  color: #707070;
  font-weight: 400;
  margin-bottom: 5px;
}

h2 {
  color: #007c8a;
  text-align: center;
  font-size: 3.6rem;
  margin-bottom: 16px;
}

.form {
  display: flex;
  justify-content: space-evenly;
  background-color: #eeeeee;
  margin-bottom: 6rem;
}

.content {
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  padding: 10px;
  width: 100%;
}

.item label {
  /* color: #007c8a; */
  font-size: 3rem;
}

.item input {
  width: 100%;
  margin: 1px;
  text-align: center;
  font-size: 2rem;
  height: 38px;
  border: none;
  border-radius: 5px;
}

.button {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

button {
  height: 50px;
  width: 30%;
  background-color: #494949;
  color: white;
  border: #007c8a 5px solid;
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: bold;
}
button:hover {
  background-color: rgb(231, 150, 0);
  transition: 0.3s;
  border: #494949 5px solid;
}

#imc {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 3rem;
  color: white;
  border: #007c8a 10px solid;
  background-color: #494949;
}

#agua {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 3rem;
  color: white;
  border: #007c8a 10px solid;
  background-color: #494949;
}

#content-imc {
  display: flex;
  align-items: center;
  font-size: 3.5rem;
  color: rgb(231, 150, 0);
  font-weight: bold;
}

#content-agua {
  display: flex;
  align-items: center;
  font-size: 3.5rem;
  color: rgb(231, 150, 0);
  font-weight: bold;
}

footer {
  height: 8rem;
  background-color: #007c8a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
